.title2{
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}
@-ms-viewport{
    width: device-width;
  }

  
  #container
{
    height:2000px;    
}

#container DIV
{ 
    margin:50px; 
    padding:50px; 
    background-color:lightgreen; 
}

.hideme
{
    opacity:0;
}
.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  opacity: 1;
}

.header {
    height: fit-content;
    width: 100%;

    background-position: center !important;
    background-size: cover !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding :0px ;
    display: flex;
    flex-direction: column;    
}
.header.main {
    min-height: 100%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.title{
/*font-family: ;*/
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 2.5rem;
margin: 0;
}
.header .title {
    font-size: 93px;
    color: rgba(255, 255, 255, 0.8);
}
.pagecontent {
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}

.subtitle{
    font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 1.5rem;
margin: 0;
}
.header .subtitle {
    font-size: 83px;
    color: rgba(255, 255, 255, 0.8);
}
/*Info on bands headers */
.header.Blackpink {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../pics/46607-image_5a1059f2be5c5.jpg);
}
.header.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../pics/everglow.png);
}
.header.gidle{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../pics/GI-DLE.png);
}
.header.Soyeon{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../pics/jeonsoyeon.jpg);
}
