/*Specially styles sections*/
.section {
    min-height: 400px;
    padding: 40px;
    background-color: #fff;
}
/*Sets up the columns*/

/*Adds a row*/
.row {
    display: flex;
    flex-direction: row;
}
.section:nth-child(odd) {
    background-color: lightgray;
}
.column {
    width: 50%;
    padding: 0px;
    min-height: 400px;
    flex-direction: column;
    font-family: 'Noto Serif JP', serif;
    /*background-image: url("https:kpoparchives.com/pics/blackpink.jpeg");
    filter: blur(1px);
    -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 
  text-align: center*/
  
}
p{
    vertical-align: middle;
    font-family: 'Noto Serif JP', serif;
}
/* just for Tomdotbat */
body {
    margin: 0;
}